@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
    font-family: 'Fredoka One', cursive;
    background-color: #242F9B;

}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color:white;
    font-size: 32px;
    
}

.subtitulo {
    color:white;
    font-size: 20px;
}

.tarjetas, .tarjetas-ataques {
display: flex;
gap: 10px;
}

.tarjeta-de-mokepon {
    width: 180px;
    height: 100px;
    background: #646FD4;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.tarjeta-de-mokepon img{
    width: 80px;
}


#boton-mascota {
    width: 180px;
    height: 40px;
    background-color:transparent;
    border-radius: 20px;
    border: 2px solid white;
    color: white;
    font-family: 'Fredoka One', cursive;
    margin-top: 30px;

}

input {
    display: none;
}

input:checked + label {
background: #85CDFD;
}

#seleccionar-ataque { 
    flex-direction: column;    
    align-items: center;
}

.boton-de-ataque{
    background-color:#646FD4 ;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    width: 100px;
    color: white;
    font-family: 'Fredoka One', cursive;
}

#mensajes {
    width: 280px;
    background: hotpink;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    color: white;
    font-family: 'Fredoka One', cursive;
    display: flex;
    align-items: center;
    flex-direction: column;
}
    


#boton-reiniciar {
    border: none;
    color: white;
    font-family: 'Fredoka One';
    background: transparent;
}

.ataques {
    display: grid;
    grid-template-columns: 100px 100px
}

.ataque-jugador, .ataque-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width:360px) {
    .tarjetas, .tarjetas-ataques {
    flex-direction: column;
    }

}